// $blue : #2d8cf0;
// $green : #19be6b;
// $red : #ed3f14;
// $yellow : #fbbd08;
// $purple : #7265e6;
$white : #b3b7c0;
$lightGray : #909399;
$gray : #586F7C;
$darkGray : #a9a9a9;
$secundaryColor: #080f19;
$primaryColor : #f47c0c;
$acceptedColor : #0cd91dd8;
$deniedColor : #ed2214c6;
$pendingColor : #fbbe08d0;
$newColor : #7265e6;
$darkblue : #050059